.Button {
    background-color: transparent;
    border-radius: 3px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    width: 110px;
    justify-content: initial;
    text-align: center;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    border: solid #5C9210 2px;
    color: rgb(255, 255, 255);
    background-color: #5C9210;
}

.Danger {
    border:solid #944317 2px;
    color: #ffffff;
    background-color: #944317;
}

.Button.Success:hover{
    color:  #5C9210;
    background-color: white;

}

.Button.Danger:hover{
    color: #944317;
    background-color: white;
}

.Button:disabled{
    color: gray;
    background-color: #ccc;
    border: 1px solid #ccc;
}

.Button:disabled:hover{
    color: gray;
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: context-menu;
}