.NavigationItems{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    /* align-items: center;  */
    height: 100%;
}

.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;

}

.NavigationItem a {
    margin: 0;
    color: black;
    text-decoration: none;
    height: 100%;
    padding: 5px 5px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    text-align: start;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color:rgb(82, 39, 0);
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .NavigationItems {
        flex-flow: row;
    }
    
    .NavigationItem a {
        color: black;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: rgb(82, 39, 0);
        border-bottom: 4px solid rgb(0, 0, 0);
        color: white;
    }
}